.card
{
    width: 246px;
    background-color: #000;
} 

.card__header {
  position: relative;
}

.card__like {
  position: absolute;
  right: 0;
  top: 0.5rem;
  background: #fff;
  padding: 0.25rem;
  line-height: 1;
}

.card__image {
  width: 100%;
  aspect-ratio: 1 / 1.44;
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__meta {
  position: absolute;
  bottom: 0.5rem;
  left:0.5;
}

.card__meta > span:first-of-type {
  background-color: #F00;
  color:#fff;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 0.25rem;
}

.btn {
  background-color: #000;
  color: #fff;
  padding: 0.25rem 0.5rem;
}

.btn--up {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 999;
}

.card__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}