/* General */

body {
  background-color: rgb(28, 28, 28);
  color: white;

  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 2rem;
}

h1,
h2,
h3 {
  font-family: "Bricolage Grotesque", Arial, Helvetica, sans-serif;
  line-height: 1.2;
  font-weight: 600;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.6rem;
}

/*
<div class="container">
        <section class="grid-container">
            <div class="grid-item">1</div>
            <div class="grid-item">2</div>
            <div class="grid-item">3</div>
            <div class="grid-item">4</div>
            <div class="grid-item">5</div>
            <div class="grid-item">6</div>
            <div class="grid-item">7</div>
        </section>
    </div>
    */

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

  .grid-item {
    background-color: greenyellow;
    text-align: center;
    line-height: 100%;
    font-size: 2rem;
    padding: 1rem;

    color: #000;
  }

  .grid-item:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .grid-item:nth-of-type(3) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;

    background-color: purple;
  }

  /*
  <div class="container">
        <section class="grid">
            <div class="grid__item">12</div>
        </section>
    </div>
*/
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.grid__item {
  background-color: purple;
}

.grid__item-span-12 {
  grid-column: span 12;
}

.grid__item-span-11 {
  grid-column: span 11;
}

.grid__item-span-10 {
  grid-column: span 10;
}

.grid__item-span-9 {
  grid-column: span 9;
}

.grid__item-span-8 {
  grid-column: span 8;
}

.grid__item-span-7 {
  grid-column: span 7;
}

.grid__item-span-6 {
  grid-column: span 6;
}

.grid__item-span-5 {
  grid-column: span 5;
}

.grid__item-span-4 {
  grid-column: span 4;
}

.grid__item-span-3 {
  grid-column: span 3;
}

.grid__item-span-2 {
  grid-column: span 2;
}

.grid__item-span-1 {
  grid-column: span 1;
}