body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.box {
  background-color: hsl(180, 100%, 50%);
  border: 1px solid hsl(240, 100%, 50%);
  padding: 0.5rem;
  margin: 0.75rem;
}

.deus {
  width: 400px;
  height: 400px;

  background-color: hsl(0, 100%, 50%);
  border: 1rem solid rgb(255, 234, 0);
  padding: 1rem;
}

.container {
  max-width: 1440px;
  padding: 0 0.5rem;
  margin: 0 auto;
}
.container > div {
  background-color:hsl(120, 100%, 25%);
}