.card {
  position: relative;
  width: 100%;

  transition: all 368ms ease-in-out 0s
}

.card:hover {
  transition: all 368ms ease-in-out 0s;
  transform: scale(1.06);
}

.card__image {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.card__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}