body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: hsl(0, 0%, 83%);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: row;
  width: 40rem;
  background: hsl(0, 0%, 93%);
  box-shadow: 0 0 1rem 0.5rem hsl(0, 0%, 73%);
}

.card__image,
.card__content {
  width: 50%;
}

.card__content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}