:root {
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-red: hsl(8, 78%, 50%);
  --color-blue: hsl(218, 76%, 27%);
  --color-green: hsl(186, 94%, 33%);
  --spacing: 1rem;
}

.order-demo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.order-demo__box {
  width: 1rem;
  height: 1rem;
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
  line-height: 1em;
}

.box--1 {
  background-color: var(--color-red);
  order: 3;
}

.box--2 {
  background-color: var(--color-blue);
}

.box--3 {
  background-color: var(--color-green);
}

.testimonials {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 200px;
}

.testimonials__item {
  align-self: center;
  background-color: var(--color-green);
}

.testimonials__item--high {
  align-self: flex-start;
  background-color: var(--color-red);
}

.testimonials__item--low {
  align-self: flex-end;
  background-color: var(--color-blue);
}

/* .testimonials__item:last-of-type {
  background-color: var(--color-red);
} */