body {
  background-color: #fff;
}

.title {
  font-size: 1.4rem;
  font-weight: 800;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.synopsis {
  font-size: 1.2rem;
  font-weight: 400;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.product-item {
  flex-basis: calc((100% - (1 - 1) * 1rem) / 1);
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  aspect-ratio: 1/1;
  background-color: red;
}

@media (min-width: 30rem) {
  body {
    background-color: aqua;
  }

  .title {
    font-size: 1.6rem;
  }

  .synopsis {
    font-size: 1.4rem;
    font-weight: 400;
  }
}

@media (min-width: 48rem) {
  body {
    background-color: purple;
  }

  .title {
    font-size: 2.0rem;
  }

  .synopsis {
    font-size: 1.6rem;
    font-weight: 400;
  }

  .product-item {
    flex-basis: calc((100% - (2 - 1) * 1rem) / 2);
  }
}

@media (min-width: 64rem) {
  body {
    background-color: green;
  }

  .title {
    font-size: 2.4rem;
  }

  .synopsis {
    font-size: 1.8rem;
    font-weight: 400;
  }

  .product-item {
    flex-basis: calc((100% - (3 - 1) * 1rem) / 3);
  }
}

@media (min-width: 80rem) {
  body {
    background-color: #fff;
  }

  .title {
    font-size: 2.8rem;
  }

  .synopsis {
    font-size: 2rem;
    font-weight: 400;
  }

  .product-item {
    flex-basis: calc((100% - (4 - 1) * 1rem) / 4);
  }
}