body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/*
Container
*/
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

/*
Header
*/
.page-header {
  background-color: transparent;
  color: #222;

  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*
Footer
*/
.page-footer {
  background-color: #222222;
  color: #fff;

  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*
Section
*/
.page-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.page-section--white {
  background-color: hsl(0, 0%, 100%);
  color: #222;
}

/*
Article
*/
.article {
  margin-bottom: 3rem;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.article:last-of-type {
  margin-bottom: 0;
}

.article__title {
  font-size: 2.2rem;
  line-height: 1.2;
  font-weight: 700;
  color: #000;

  margin-bottom: 1em;
}

.article__title::after {
  content: "";
  display: block;
  height: 0.2rem;
  width: 8rem;
  margin-top: .85rem;

  background: linear-gradient(90deg,#28df83,#6600ff);
}

.article__title {
  font-size: 2.2rem;
  line-height: 1.2;
  font-weight: 700;
  color: #000;

  margin-bottom: 1em;
}

.article__description {
  font-size: 1.2rem;
  line-height: 1.28;
  margin-bottom: 1em;
}

.article__content {
  width: 60%;
}

.article__figure {
  width: 40%;
}

.article__links-list {
  list-style: none;
  padding: 0;
}

.article__links-list-item {
  margin-bottom: 0.8rem;
}

.article__links-list-item::before {
  content: "→";
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover !important;
  font-size: 1.4rem;
  font-weight: 900;
  height: 1em;
  margin-right: 0.5em;
}

.article__links-list-item > a {
  color: rgb(102, 0, 255);
  font-weight: 700;
}

.article__links-list-item:hover::before {
  color: rgb(102, 0, 255);
}

.article__links-list-item:hover > a {
  text-decoration: none;
}

/*
Button
*/
.btn {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #000;

  font-weight: 700;
}

.hero-header {
  background-image: url("https://www.monsterenergy.com/img/hdr-bg.webp");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: cover;
  padding-top: 4rem;
}

.hero__title {
  font-size: 4.4rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;

  text-align: center;
}