:root {
  --color-brown: hsl(12, 58%, 15%);
  --color-orange: hwb(21 36% 0%);
  --color-purple-light: hsl(219, 88%, 84%);
  --spacing: 1.6rem;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--color-brown);
  color: var(--color-orange);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.testimonials {
  padding-top: 2rem;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.testimonials__wrapper {
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing);
}

.testimonial {
  width: 22rem;
  border-radius: var(--spacing);
  background-color: var(--color-purple-light);
  color: var(--color-brown);
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

/*
Spreek de testimonial__poisition aan en geef deze een font-grootte van 0.8rem*/
.testimonial__quote {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.2;
}

.testimonial__image {
  width: 3.6rem;
  border-radius: 50%;
  border: 0.2rem solid var(--color-brown);
}

.testimonial__name {
  font-weight: 600;
}

.testimonial__position {
  font-size: 0.8rem;
  font-weight: 300;
}

.testimonial__footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}