/* Deze code niet aanpassen*/

body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: hsl(0, 0%, 83%);
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 2rem;
}

.card {
  padding: 2rem;
  height: 20rem;
  width: 20rem;
  background: hsl(300, 100%, 25%);
  color: hsl(300, 100%, 85%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
