body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--color-brown);
  color: var(--color-orange);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}

.card {
  && .card__figure {
    width: 100%;
    aspect-ratio: 16 / 9;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  && .card__title {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.2;
  }
}